/* Variable definitions */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$default-font: 'Nunito', 'Roboto', sans-serif;

$primary-color: #191b27;
$secondary-color: #262835;
$accent-color: #218e64;
$text-color: #fefefe;

$top-nav-margin: 75px;
