/* Variable definitions */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$default-font: 'Nunito', 'Roboto', sans-serif;

$primary-color: #191b27;
$secondary-color: #262835;
$accent-color: #218e64;
$accent-color-alpha: rgba(33, 142, 100, 0.5);
$bg-color: #fcfdff;
$text-color: #cbcdd7;
$secondary-text-color: #d1d1da;
$text-color-dark: #3d4060;

$top-nav-margin: 75px;
