{% extends "base.html" %}
{% block title %}Bucketlist{% endblock %}

{% block content %}

    <div class="container-fluid">
        <button class="fab-add-button" data-toggle="modal" data-target="#addBucketlistModal">
            <i class="fas fa-plus"></i>
        </button>

        {% if bucketlists and recent_lists %}
            <h5 class="page-title">Recent Bucketlists</h5>
            <div class="line"></div>

            <div class="bucketlist-card-wrapper">
                {% for b_list in recent_lists %}
                    <div class="bucketlist-card">
                        <p class="bucketlist-card__title">{{ b_list['name'] }}</p>
                        <p class="bucketlist-card__description">
                            {% if b_list['description'] %}
                                {{ b_list['description'] }}
                            {% else %}
                                No description
                            {% endif %}
                        </p>
                        <p class="bucketlist-card__footer">
                            2 items
                        </p>
                    </div>
                {% endfor %}
            </div>

            <br/>
            <h5 class="page-title">All Your Bucketlists</h5>
            <div class="line"></div>

            <div class="bucketlist-table__dashboard">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for b_list in bucketlists %}
                        <tr class="hover">
                            <td>{{ b_list['name'] }}</td>
                            <td><i class="fas fa-trash red-text" title="Delete {{ b_list['name'] }}"></i></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <blockquote>
                <h3 class="grey-text">You currently have no bucketlists in your account.</h3>
            </blockquote>
        {% endif %}
    </div>

    <!-- Add Bucketlist Modal -->
    {% include 'partials/add-bucketlist.html' %}

{% endblock %}