{% extends "base.html" %}
{% block title %}Bucket List{% endblock %}

{% block content %}

    <div class="container-fluid">
        <button class="fab-add-button" data-toggle="modal" data-target="#addBucketListModal">
            <i class="fas fa-plus"></i>
        </button>

        {% if bucket_lists and recent_lists %}
            <h5 class="page-title">Recent Bucket Lists</h5>
            <div class="line"></div>

            <div class="bucket-list-card-wrapper">
                {% for b_list in recent_lists %}
                    <div class="bucket-list-card" data-click data-href='/bucket-lists/{{ b_list['slug'] }}'>
                        <p class="bucket-list-card__title">{{ b_list['name'] }}</p>
                        <p class="bucket-list-card__description">
                            {% if b_list['description'] %}
                                {{ b_list['description'] }}
                            {% else %}
                                No description
                            {% endif %}
                        </p>
                        <p class="bucket-list-card__footer">
                            2 items
                        </p>
                    </div>
                {% endfor %}
            </div>

            <br/>
            <h5 class="page-title">All Your Bucket Lists</h5>
            <div class="line"></div>

            <div class="bucket-list-table__dashboard">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for b_list in bucket_lists %}
                        <tr class="hover">
                            <td data-click data-href='/bucket-lists/{{ b_list['slug'] }}'>{{ b_list['name'] }}</td>
                            <td style="text-align: center">
                                <i class="fas fa-trash red-text" title="Delete {{ b_list['name'] }}" data-toggle="modal"
                                   data-target="#deleteModal{{ b_list['slug'] }}"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <blockquote>
                <h3 class="grey-text">You currently have no bucket lists in your account.</h3>
            </blockquote>
        {% endif %}
    </div>

    <!-- Add BucketList Modal -->
    {% include 'partials/add-bucket-list.html' %}

    <!-- Delete Modals -->
    {% for b_list in bucket_lists %}
        {% with name=b_list['name'], slug=b_list['slug'] %}
            {% include 'partials/delete-bucket-list.html' %}
        {% endwith %}
    {% endfor %}

{% endblock %}